*{box-sizing: border-box;}

#jumbo {
  background-image: url('../images/body/tools-on-table.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}