/* ==================================================================
  Root Colors
  =================================================================== */
:root {
  --mood: rgb(255, 243, 213);
  --flavor: rgb(83, 123, 164);
  --accent: rgb(255, 170, 77);
}

/* CSS Reset */
*{box-sizing: border-box;}

/* Root Colors
  =================================================================== */
body {
  background-color: var(--mood);
  font-family: 'Fira Sans', sans-serif;
}

/* ==================================================================
  Main Header
  =================================================================== */
#jumbo {
  background-image: url('../images/body/tools-on-table.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

/* ==================================================================
  Product Information
  =================================================================== */

  /* ==================================================================
  Testimonial
  =================================================================== */

  /* ==================================================================
  Footer
  =================================================================== */